body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 2em;
}

h1, h4 {
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

span.key {
    font-weight: bold;
    font-family: sans-serif;
}

span.value {
    margin-left: 1em;
}

div#inputcontainer {
    margin-bottom: 10px;
    font-size: 18px;
}

input#myButton:hover,
input#myButton:focus {
    background-color: rgb(163, 206, 220);

}

input#myButton {
    cursor: pointer;
    background-color: lightblue;
    font-size: 18px;
}

input#name {
    font-size: 18px;
    width: 400px;
}
